baloofilerc
bless/
bluedevilglobalrc
Code - OSS/
dconf/
discoverrc
emacs/
evolution/
fontconfig/
font-manager/
FreeTube/
.gsd-keyboard.settings-ported
gtk-3.0/
gtk-4.0/
gtkrc
gtkrc-2.0
kactivitymanagerdrc
kactivitymanagerd-statsrc
kcminputrc
kconf_updaterc
kded5rc
kdedefaults/
kdeglobals
kde.org/
kfontinstuirc
kglobalshortcutsrc
konsolerc
konsolesshconfig
ksmserverrc
ktimezonedrc
kwinoutputconfig.json
kwinrc
libaccounts-glib/
libreoffice/
menus/
nemo/
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmashellrc
plasma-welcomerc
powermanagementprofilesrc
pulse/
qalculate/
QtProject.conf
river/
scripts/gnome
scripts/plasma
session/
Thunar/
totem/
Trolltech.conf
user-dirs.dirs
user-dirs.locale
VirtualBox/
wireshark/
xfce4/
xorg/cinnamon_initrc
xsettingsd/
zsh/.zcompdump
